* {
    padding: 0;
    margin: 0;
  }
  body {
    background-color: #0C356A;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #313866;
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav ul li {
    list-style: none;
    margin: 0 23px;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  nav ul li a:hover {
    color: rgb(153, 153, 226);
    font-size: 1.03rem;
  }
  main hr {
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 50px 84px;
  }
  .left {
    font-size: 1.5rem;
  }
  .firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 23px 0;
  }
  .firstSection > div {
    width: 34%;
  }
  .leftSection {
    font-size: 2.5rem;
  }
   .leftSection .buttons{
    padding: 23px;
  } 
  .leftSection .btn{
    padding: 12px;
    background:#614BC3;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
  }
  .rightSection img {
    width: 80%;
    margin: 50px 0;
  }
  .purple {
    color: rgb(134, 74, 190);
  }
  .text-grey {
    color: grey;
  }
  #element {
    color: rgb(134, 74, 190);
  }
  .secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
  }
  .secondSection h1 {
    font-size: 1.5rem;
  }
  .secondSection .box {
    background-color: rgb(134, 74, 190);
    width: 76vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
  }
  .secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: rgb(134, 74, 190);
    margin: 0 100px;
  }
  .image-top {
    width: 40px;
    position: relative;
  }
  .vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
  }
  .vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 0.7rem;
  }
  footer {
    background-color: #252B48;
 
  }
  .footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
  }
  .footer ul {
    list-style: none;
  }
  .footer > div{
    width: 223px;
  }
  .footer-right{
    text-align: center;
    color: gray;
    padding: 12px 0;
  }
  